@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400..800&family=Caveat:wght@400..700&family=Roboto:wght@100..900&display=swap');

body { font-family: "Roboto", sans-serif;}

.cursive {font-family: "Caveat", cursive;}

.serif {font-family: "Abhaya Libre", serif;}